.App {
  text-align: center;
}

.HomePage {
  background: url('https://media0.giphy.com/media/HZpCCbcWc0a3u/giphy.gif'); 
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#checkCards {
  margin-top: 40%;
  margin-bottom: 40%;
}

.all-cards {
  display: flex;
  flex-wrap: wrap;
}



